/*
        Ensures any errors which result from uploading a staff image are shown on
        the next line.

        See: finds.org.uk/users/profile/image
*/
.help-block {
    display: block;
}

/* CUSTOMIZE SESSION EXPIRE DIALOG
-------------------------------------------------- */
.modal.fade.in {
    display: block;
}

.modal.fade {
    display: none;
}

@media screen and (max-width: 576px) {
    .g-recaptcha {
        width: 100%;
        display: block;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        overflow: hidden;
    }

    .form-horizontal .control-group > label
    {
        float: none;
        width: 90%;
        text-align: left;
    }
}