/* CSS Document */
#embeds > form input, select, textarea {
background:#F2F2F2 none repeat scroll 0 50%;
border:1px solid #99CCCC;
font-family:Georgia,serif;
font-size:80%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:170%;
word-wrap:break-word;
}
#embeds h2
{
font-family:Georgia,serif;
font-size:100%;
color: #990000;
}