
ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 12em;
}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a {
  background: #333;
  color: #fff;	
  padding: 0.5em;
}

ul.menu li a:hover {
  background: #000;
}

ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #8B0000 solid;
  padding-left: 15px;
}

.stripeMe a:focus, .stripeMe a:active {
background-color:#F4FFD1;
}
.stripeMe a:focus, .stripeMe a:hover {
text-decoration:underline;
}
.stripeMe a {
color:#229CB3;font-weight:bold;
text-decoration:none;

}

#stripeDiv {
margin-bottom:10px;
}
.set  {
height:280px;
padding:10px;
}
.stripeMe table {
	border-collapse: collapse;
	width: 95%;
	font: 110%;
}

.stripeMe th {
	background: #646464;
	color: #fff;
	font-weight: bold;
	padding: 2px 11px;
	text-align: center;
	border-right: 1px solid #fff;
	line-height: 1.2;
}

.stripeMe tr {
	padding: 6px 11px;
	border-bottom: 1px solid #95bce2;
	vertical-align: top;
	text-align:left;
}


div.alt , tr.alt  {
	background: #ecf6fc;
}

div.over , tr.over  {
	background: #CCCCCC;
}
li.alt  {
	background: #ecf6fc;
}

li.over  {
	background: #CCCCCC;
}