[submodule "library/Zend"]
	path = library/Zend
	url = git://github.com/zendframework/zf1.git
[submodule "library/HTMLPurifier"]
	path = library/HTMLPurifier
	url = git://github.com/ezyang/htmlpurifier.git
[submodule "library/Solarium"]
	path = library/Solarium
	url = git://github.com/basdenooijer/solarium.git
[submodule "library/EasyBib"]
	path = library/EasyBib
	url = git://github.com/easybib/EasyBib_Form_Decorator.git
[submodule "library/easyrdf"]
	path = library/easyrdf
	url = https://github.com/njh/easyrdf
[submodule "library/REST"]
	path = library/REST
	url = https://github.com/codeinchaos/restful-zend-framework.git
[submodule "library/tcpdf"]
	path = library/tcpdf
	url = https://github.com/tcpdf-clone/tcpdf
