[development]

settings.application.datetime = "Europe/London"

form.salt = 

siteurl = http://finds.org.uk
 
solr.host = localhost
solr.port = 8080
solr.path = /solr/
solr.core = beowulf

solr.master.host = 81.29.66.140
solr.master.port = 8080
solr.master.path = /solr/

solr.asgard.host = 81.29.66.140
solr.asgard.port = 8080
solr.asgard.path = /solr/

solr.valhalla.host = 81.29.66.141
solr.valhalla.port = 8080
solr.valhalla.path = /solr/

solr.grendel.host = 81.29.66.139
solr.grendel.port = 8080
solr.grendel.path = /solr/

solr.slave.host = 81.29.66.141
solr.slave.port = 8080
solr.slave.path = /solr/

;windows
;solr.schema.path = 'C:\wamp\www\New folder\example\solr\'
;OSX
solr.schema.path = '/Library/Tomcat/findsorguk-solr/solr/'
;Unix
;solr.schema.path = '/var/solr/'
solr.schema.file = '/conf/schema.xml'

rest.default = xml
rest.formats[] = json
rest.formats[] = xml
rest.formats[] = html
rest.formats[] = php
rest.formats[] = yaml

higherLevel[] = admin
higherLevel[] = treasure
higherLevel[] = hero
higherLevel[] = treasure
higherLevel[] = flos
higherLevel[] = fa

disabled[] =
;disabled[] = users
;disabled[] = database

acl.roles.public   = null
acl.roles.member   = public
acl.roles.hero     = member
acl.roles.research = member
acl.roles.flos     = member
acl.roles.fa       = flos
acl.roles.treasure = flos
acl.roles.hoard    = flos
acl.roles.admin    = fa

auth.salt = 

email = false

[production]

settings.application.datetime = "Europe/London"

form.salt = 

siteurl = 
 
solr.host = 
solr.port = 
solr.path = 
solr.core = 

solr.master.host = 
solr.master.port = 
solr.master.path = 

solr.asgard.host = 
solr.asgard.port = 
solr.asgard.path = 

solr.valhalla.host = 
solr.valhalla.port = 
solr.valhalla.path = 

solr.grendel.host = 
solr.grendel.port = 
solr.grendel.path = 

solr.slave.host = 
solr.slave.port = 
solr.slave.path = 
;windows
;solr.schema.path = 'C:\wamp\www\New folder\example\solr\'
;OSX
solr.schema.path = '/Library/Tomcat/findsorguk-solr/solr/'
;Unix
;solr.schema.path = '/var/solr/'
solr.schema.file = '/conf/schema.xml'

rest.default = xml
rest.formats[] = json
rest.formats[] = xml
rest.formats[] = html
rest.formats[] = php
rest.formats[] = yaml

higherLevel[] = admin
higherLevel[] = treasure
higherLevel[] = hero
higherLevel[] = treasure
higherLevel[] = flos
higherLevel[] = fa

disabled[] =
;disabled[] = users
;disabled[] = database

acl.roles.public   = null
acl.roles.member   = public
acl.roles.hero     = member
acl.roles.research = member
acl.roles.flos     = member
acl.roles.fa       = flos
acl.roles.treasure = flos
acl.roles.hoard    = flos
acl.roles.admin    = fa

auth.salt = 

email = true

# ID from `staffroles` DB table
contacts.roles.central[] = 1
contacts.roles.central[] = 2
contacts.roles.central[] = 3
contacts.roles.central[] = 4
contacts.roles.central[] = 24
contacts.roles.central[] = 25
;contacts.roles.central[] =

# Used to exclude members of central team getting upgrade account emails
contacts.excludeEmail.roles.central[] = 1
;contacts.roles.central.excludeEmail[] =

contacts.roles.liaisonOfficers[] = 7
contacts.roles.liaisonOfficers[] = 10
contacts.roles.liaisonOfficers[] = 32
;contacts.roles.liaisonOfficers[] =

contacts.roles.advisers[] = 12
contacts.roles.advisers[] = 16
contacts.roles.advisers[] = 17
contacts.roles.advisers[] = 18
contacts.roles.advisers[] = 19
contacts.roles.advisers[] = 20
;contacts.roles.advisers[] =

;contacts.excludeEmail.roles.advisers[] =

contacts.roles.treasure[] = 6
contacts.roles.treasure[] = 8
contacts.roles.treasure[] = 33
contacts.roles.treasure[] = 37

contacts.roles.explorers[] = 26
contacts.roles.explorers[] = 27
contacts.roles.explorers[] = 28
contacts.roles.explorers[] = 29
contacts.roles.explorers[] = 30
;contacts.roles.explorers[] =
